<h2>Cadastrar</h2>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Código Identificador: </label>
        <input type="text" class="form-control" id="inputEmail4"  name="id" [(ngModel)] = "vaga.id" placeholder="digite o código">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Nome: </label>
        <input type="password" class="form-control" id="inputPassword4" name="nome" [(ngModel)] = "vaga.nome" placeholder="Nome Completo">
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Descrição</label>
      <input type="text" class="form-control" id="inputAddress2" name="descricao" [(ngModel)] = "vaga.descricao" placeholder="Descricão">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Salário</label>
        <input type="text" class="form-control" id="inputCity" name="salario" [(ngModel)] = "vaga.salario" placeholder="Salário">
      </div>
      </div><br>
    <button type="button" (click)="cadastrar()">Cadastrar Vaga</button>
    <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
    <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>

  </form>

<section class="lista-vagas">
    <div *ngFor="let vaga of vagas">

        <div class="card" style="width: 18rem;">
            <img src="assets\img\vagas\{{vaga.foto}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Código da Vaga: {{vaga.id}}</h5>
              <h5 class="card-title">Vaga: {{vaga.nome}}</h5>
              <p class="card-text">Descricão da Vaga: {{vaga.descricao}}</p>
              <p class="card-text">Salário: R$ {{vaga.salario}},00</p>

              <button type="button" (click)="atualizar(vaga.id)">Atualizar Vaga</button>
                <button type="button" (click)="excluir(vaga.id)">Excluir Vaga</button>
            </div>
          </div>
    
    </div>
</section>
