h1{
    text-align: center;
    color: black;
}
body{
    background:#cfcfd3;
       font-family: Georgia, 'Times New Roman', Times, serif;
}/* You can add global styles to this file, and also import other style files */
